* {
	margin: 0;
	padding: 0;
}
.container {
	position: absolute;
	top: 10vw;
	width: 60vw;
	left: 18vw;
	font-size: 2vw;
	font-family: Roboto;
	font-weight: 200;
}
.inputfield {
	position: relative;
	top: 1vw;
	font-size: 2vw;
	font-weight: 200;
	width: 100%;
	display: block;
	padding: 1vw;
	border: 1px solid black;
}
.text {
	width: 100%;
	display: block;
	padding: 1vw;
	margin: 1vw 0;
	border: 1px solid black;
	text-decoration-color: black;
	background: white;
}

.progressbar {
	position: relative;
	height: 100vh;
	left: 0;
	top: 0;
}
