* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-weight: 200;
}
.container {
	position: relative;
	top: auto;
	width: 60vw;
	left: 18vw;
	font-size: 2vw;
}

.text {
	width: 100%;
	display: block;
	padding: 1vw;
	margin-bottom: 1vw;
	text-decoration-color: black;
	background: white;
}

.inputfield {
	position: relative;
	font-size: 2vw;
	width: 100%;
	height: 2vw;
	display: block;
	padding: 1vw;
	border: 1px solid black;
	margin-bottom: 1vw;
}

.inputfield:focus {
	outline: none;
}

.progressbar {
	position: absolute;
	height: 100vh;
	transition-duration: 0.8s;
	left: 0;
	top: 0;
	z-index: -1;
}

.startTime {
	position: absolute;
	width: 40%;
	left: 30%;
	margin: 0 auto;
	text-align: center;
	line-height: 8vw;
	height: 8vw;
	background: white;
	border: solid black 1px;
	z-index: 3;
}
