* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-weight: 200;
}
.container {
	position: relative;
	top: auto;
	width: 60vw;
	left: 18vw;
	font-size: 2vw;
}

.text {
	width: 60vw;
	display: block;
	text-decoration-color: black;
	padding: 1vw 1vw;
	background: white;
	color: #222;
}

.inputfield {
	position: relative;
	font-size: 2vw;
	width: 58vw;
	height: 2vw;
	display: block;
	padding: 1vw 2vw;
	border: none;
	/* border: 0.5px solid #222; */
	/* border-radius: 30px; */
	border-bottom-right-radius: 2vw;
	border-bottom-left-radius: 2vw;
}

.inputfield:focus {
	outline: none;
}

.progressbar {
	position: absolute;
	height: 100vh;
	transition-duration: 0.8s;
	left: 0;
	top: 0;
	z-index: -1;
}

.startTime {
	position: absolute;
	width: 100%;
	left: 1.5%;
	height: 10vw;
	bottom: -3vw;
	line-height: 10vw;
	text-align: center;
	z-index: 3;
}
