.loginwallpaper {
	height: 88vh;
}

.loginbox {
	position: relative;
	width: 300px;
	height: 350px;
	left: calc(50vw - 150px);
	top: 15vh;
	border: solid black 1px;
	background: white;
}

.loginbox > h1 {
	margin-top: 10px;
	text-align: center;
	font-family: Quicksand;
}

.loginbox > .logininfo {
	position: relative;
	width: 90%;
	top: 10%;
	left: 5%;
}

.loginbox > .logininfo > input {
	position: relative;
	width: 100%;
	height: 30px;
	font-size: 15px;
	margin: 5px 0 20px 0;
	border: solid black 1px;
}

.loginbox > .logininfo > .errorlabel {
	color: red;
}

.loginbox > .logininfo > .errormsg {
	color: red;
	text-align: center;
}

.loginbox > .button {
	position: absolute;
	bottom: 10%;
	width: 30%;
	height: 35px;
	left: 35%;
	background: #90ee90;
	transition-duration: 0.3s;
	border-radius: 3px;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	color: black;
	font-size: 15px;
	border: none;
}

.loginbox > p {
	position: absolute;
	bottom: 3%;
	width: 20%;
	left: 40%;
	text-decoration: underline;
	text-align: center;
	cursor: pointer;
	font-size: 0.9em;
}

.loginbox > .button:hover {
	background: #d7d7d7;
	cursor: pointer;
	font-size: 14.5px;
}
