* {
	margin: 0;
	padding: 0;
}
.container {
	position: relative;
	top: auto;
	width: 60vw;
	left: 18vw;
	font-size: 2vw;
	font-family: Roboto;
	font-weight: 200;
}

.text {
	width: 100%;
	display: block;
	padding: 1vw;
	margin: 0;
	border: 1px solid black;
	text-decoration-color: black;
	background: white;
}

.inputfield {
	position: relative;
	font-size: 2vw;
	font-weight: 200;
	width: 100%;
	display: block;
	padding: 1vw;
	border: 1px solid black;
	margin-bottom: 1vw;
}

.progressbar {
	position: absolute;
	height: 100vh;
	transition-duration: 0.8s;
	left: 0;
	top: 0;
	z-index: -1;
}
