.playcontent {
	position: relative;
	height: calc(88vh - 20px);
	width: 70vw;
	left: calc(15vw - 10px);
	background: transparent;
	margin: 10px;
}

.overflower {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
}
