.playcontent {
	position: relative;
	height: 88vh;
	width: 70vw;
	left: 15vw;
	background: rgba(220, 220, 220);
}

.overflower {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
}
