* {
	margin: 0;
	padding: 0;
}

.racecontainer {
	display: inline-flex;
}

.racetrack {
	position: relative;
	left: 8vw;
	width: 62vw;
	border: 1px solid black;
	margin-top: 2vw;
	font-size: 1.5vw;
	padding-bottom: 0vw;
	height: 90%;
}

.playerProgress {
	background: darkcyan;
	background: dark;
	transition-duration: 0.8s;
	height: 1vw;
	margin: 0 0 0.5vw 0;
	padding-left: 1%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.progressUsername {
	margin-top: 0vw;
	height: 2vw;
}

.wpmcontainer {
	position: relative;
	text-align: right;
	width: 10vw;
	left: 7vw;
	margin: 2vw 0 0 0;
	padding: 1vw 0 0 0;
	font-size: 1.5vw;
}

.wpm {
	margin: 0.5vw 0 1vw 0;
	left: -2vw;
	text-align: right;
	display: inline-block;
	border: none;
	width: 100%;
	line-height: 2vw;
}

.goalposcontainer {
	position: relative;
	width: 10vw;
	right: -9vw;
	margin-top: 2vw;
	padding: 1vw 0 0 0;
	display: block;
	font-size: 1.5vw;
}

.goalpos {
	left: 0;
	margin: 1vw 0 1vw 0;
	width: 100%;
	line-height: 2vw;
	height: 2vw;
	display: inline-block;
}
