* {
	margin: 0;
	padding: 0;
}

.racecontainer {
	display: flex;
}

.racetrack {
	position: relative;
	left: 8vw;
	width: 62vw;
	padding: 1vw 0 0 0;
	border: 1px solid black;
	margin: 2vw 0;
	font-size: 1.5vw;
}

.playerProgress {
	background: #ddffdd;
	transition-duration: 0.8s;
	height: 2vw;
	padding-left: 5%;
	border-right: solid black 1px;
	margin-bottom: 1vw;
}

.wpmcontainer {
	position: relative;
	text-align: right;
	width: 10vw;
	left: 7vw;
	margin: 2vw 0;
	padding: 1vw 0 0 0;
	display: block;
	font-size: 1.5vw;
}
.wpm {
	margin-bottom: 1vw;
	left: -2vw;
	text-align: right;
	display: inline-block;
	border: none;
	height: 2vw;
	width: 100%;
	line-height: 2vw;
}
