* {
	margin: 0;
	padding: 0;
}

.racetrack {
	position: relative;
	top: 2vw;
	left: 7vw;
	width: 56vw;
	color: black;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
	font-size: 1.5vw;
	padding: 1vw 0 1vw 0;
	border-radius: 0.2vw;
	margin-bottom: 2vw;
}

.opponentspending {
	position: absolute;
	text-align: center;
	font-size: 2vw;
	width: 40%;
	top: 0vw;
	height: 6vw;
	line-height: 6vw;
	left: 30%;
	color: white;
	-webkit-animation: waiting 10s linear infinite;
	animation: waiting 10s linear infinite;
}

@keyframes waiting {
	0% {
		color: darkgray;
	}
	50% {
		color: black;
	}
	100% {
		color: darkgrey;
	}
}

.playerProgress {
	transition-duration: 0.8s;
	height: 1vw;
	margin: 0 0 1vw 0;
	padding-left: 1%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.progressUsername {
	margin-left: 0.5vw;
	height: 2vw;
}

.wpmcontainer {
	position: absolute;
	text-align: right;
	left: 0vw;
	width: 6.5vw;
	top: 3vw;
	font-size: 1.2vw;
	color: black;
}

.wpm {
	margin: 1.5vw 0 0.5vw 0;
	text-align: right;
	display: inline-block;
	border: none;
	width: 100%;
	line-height: 2vw;
}

.goalposcontainer {
	position: absolute;
	text-align: left;
	right: 0vw;
	width: 6.5vw;
	top: 3vw;
	font-size: 1.2vw;
	color: black;
}

.goalpos {
	margin: 1.5vw 0 0.5vw 0;
	text-align: left;
	display: inline-block;
	border: none;
	width: 100%;
	line-height: 2vw;
}
